*{
	margin:0px;
	padding:0px;
}
body{
	font-family:Verdana;
}
#cabecera{
	min-height: 50px;
	background-color:#35A;
	width: 98%;
	color:#FFF;
	margin: 0 auto;
	margin-bottom:20px;
	
}
h1{
	display: inline;
	font-size: 26px;
}
#container{
	width: 90%;
	margin:0 auto;
}
#title, #menu, #user{
	float: left;
}
#title{
	font-size: 38px;
	margin-left: 8px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-right:120px;
}
#menu{
	list-style-type: none;
	margin-top:20px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#menu li{
	display:inline;
}
#menu li a{
	text-decoration: none;
	color:#000;
	background-color:#FFF;
	border:2px solid #000;
	padding-left:6px;
	padding-right:6px;
	border-bottom:6px solid #000;
}
#menu li a:hover{
	color:#FFF;
	background-color: #0063DC;
}
 #perfil,#user{
	float:right;
}
#user{
	margin-top:20px;
}

#menu li a.activem{
	background-color:#79F;
}
#cerrar{
	display:none;
	position:absolute;
	top:40px;
	right:20px;
	background-color:#79F;
	padding:10px;
}
#cerrar li a{
	color: #000;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px dashed black;
	text-decoration:none;
	margin-bottom:2px;
	opacity:0.8;
}
#perfil:hover #cerrar{
	display:inline;
}

#mitabla,#mitabla2,#mitabla3{
	border:1px solid #000000;
	width:100% !important;
	margin-bottom:20px;
}
#mitabla tr td,#mitabla2 tr td,#mitabla3 tr td{
	border-bottom:1px solid #000000;
}

#nhist, #npres, #ninc{
	float:right;
	margin-top:10px;
	min-width:180px;
}
#nhist:hover, #npres:hover, #ninc:hover{
	cursor: pointer;
}

#miformulario fieldset,#miformulario2 fieldset,#miformulario3 fieldset,#miformulario4 fieldset	{
	margin-bottom:20px;
	padding:20px;
	margin-top:12px;
}
#miformulario input[type=text], #miformulario select,
#miformulario2 input[type=text], #miformulario2 select,#miformulario2 input[type=date],
#miformulario3 input[type=text], #miformulario3 select,
#miformulario4 input[type=text], #miformulario4 select{
	min-width:250px;
}
label{
	margin:0 15px;
}
.derecha{
	float:right;
	display:block;
}
